:root {
  --color-base: #1E1E1E;
  --color-primary: #FC2D19;
  --color-text: #E6E6E6;
}

body {
  background: rgb(0,155,187);
  background: linear-gradient(18deg, rgba(0,155,187,1) 0%, rgba(243,251,255,1) 100%);
  font-family: 'Outfit', sans-serif;
  height: 100svh;
  line-height: 1.125;
  overflow: hidden;
  width: 100svw;
}

canvas {
  user-select: none;
}